<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur la calculatrice magique !</title>
</head>

<body>

    <script>
        alert('Bienvenue sur la calculatrice magique !');
    </script>

</body>
</html>